/*
 * Developed by - mGunawardhana
 * Contact email - mrgunawardhana27368@gmail.com
 * what's app - 071 - 9043372
 */

*{
    -fx-font-size: 17px;
    -fx-font-family:'Robot', sans-serif;
    -fx-padding: 2px;
}